.cssLogin {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5b0eb59df793928fa7f488ff/1536780543743-TZT0SJMRKV5LUOOY8FS0/Industryyyy.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

